@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

/* headers styles starts */
header{
    background: rgb(28, 28, 121);
    margin: 0;
}
.manu{
    position: absolute;
    width: 123px;
    height: 44px;
    right: 41px;
    top: 20px;

}
.manu a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 5px 15px;

    
}

.main-head{
    display: flex;
    padding-top: 150px;
    padding-left: 100px;
    font-size: 35px;
    color: white;
    align-items: center;
}

.head-text a, .watch-now{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 25px;
    color: white;
    font-size: 16px;

}
.head-text a:hover{
    background:linear-gradient(red, orange) ;
    border-radius: 10px;
    box-shadow: 5px 5px 30px white;
}

.head-img img{
    height: 450px;
    width: 600px;
    padding: 50px 50px;
}
/* headers styles End */

/* Players details style starts */


.details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    align-items: center;
    margin: 100px 200px;
    margin: 10px;
}

.player-details{
    width: 300px;
    height: 400px;
    box-shadow:  white;
    background-color: white;
    padding: 10px;
    margin: 15px 40px;
}

.player-details:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 30px gray;
}

.player-details img{
    height: 250px;
    width: 300px;

}
/* Players details style End */




/* Highlights Styles Starts */

.highlights-detailes{
    display: flex;
    align-items: center;
    margin: 100px 50px

}

.highlights-text h2{
    font-size: 48px;
}
.watch-now:hover{
    background:linear-gradient(grey, blue) ;
    border-radius: 10px;
    box-shadow: 5px 5px 30px white;

}

.highlights-img img{
    width: 567px;
    height: 427px;
    padding-left: 20px;
}
/* Highlights Styles End */

/* Broadcasters styles starts */
.channel-heading{
    text-align: center;
}
.channel-heading h1{
    background-color: tomato;
    padding: 10px 30px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.channel-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    margin: 25px;
    border: 5px solid rosybrown;
    border-radius: 20px;
    padding-left: 60px;
}


.channel-img img{
    height: 200px;
    width: 200px;
    padding: 25px;
    margin: 25px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px gray;
}
/* Broadcasters styles End */

/* Footer styles Starts */
footer{
    align-items: center;
    text-align: center;
}

.icon img{
    height: 32px;
    width: 32px;
    padding: 20px;
}
.icon img:hover{
    transform: scale(2);

}
/* Footer styles End */


/* MEdia Quary Styles Starts */


/* Mobile Divice */

@media only screen and (max-width: 688px) {
    body{
        margin: 0;
    }

    .main-head{
        display: block;
        padding-top: 50px;
        padding-left: 5px;
        font-size: 16px;
        color: white;
        align-items: center;
    }
    .head-img img{
        height: 250px;
        width: 300px;
        padding: 50px 0px;
    }

    .details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        
    }
    .highlights-detailes{
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        font-size: 16px;
        margin: 15px;
    }
    .highlights-img img{
        height: 300px;
        width: 300px;
        margin-top: 30px;
        margin-left: 0;

    }
    .channel-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border: none;
    }
    .channel-heading h1{
        background-color: tomato;
        padding: 5px 10px;
        color: white;
        font-size: 16px;
        font-weight: 600;
    }
    .channel-img img{
        height: 200px;
        width: 200px;
        margin: 5px;
        padding: 5px;

    }



    .footer-img img{
        width: 300px;


    }


    
    
}

/* MEdia Quary Styles End */